apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: {{ .Values.service.type }}
  selector:
    app: api
  ports:
  - name: http
    port: {{ .Values.service.port }}
    nodePort: {{ .Values.service.nodePort }}
    targetPort: 8000
